@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
}

.hr-title-personalized {
  color: #253a42;
  opacity: 100%;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.card-personalized {
  background-color: #6e757c;
  text-align-last: center;
  width: 300px;
}

.card-body-personalized {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-personalized {
  background-color: #5dc7ec;
  color: white;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
